{
    "openapi": "3.0.2",
    "info": {
        "title": "Wallet API Documentations",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.x-wallet.io"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": [],
            "SignatureAuth": [],
            "TimestampAuth": []
        }
    ],
    "paths":
      {
        "/api/v1/wallets/{wallet_id}": {
            "get": {
                "description": "get a wallet",
                "operationId": "v1.wallet.get",
                "parameters": [
                    {
                        "description": "The wallet's ID or UID",
                        "in": "path",
                        "name": "wallet_id",
                        "required": true,
                        "schema": {
                            "description": "The wallet's ID or UID",
                            "example": "unique-wallet-identifier",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletOut"
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        },
                        "description": "Validation Error"
                    },
                    "429": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Too Many Requests"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": [],
                        "SignatureAuth": [],
                        "TimestampAuth": []
                    }
                ],
                "summary": "Get Wallet",
                "tags": [
                    "Wallet"
                ],
                "x-readme": {
                    "code-samples": [
                        {
                            "name": "JavaScript",
                            "language": "node",
                            "code": "const walletOut = await xwallet.wallet.get(\"wallet_id\");"
                        },
                        {
                            "name": "TypeScript",
                            "language": "node",
                            "code": "const walletOut = await xwallet.wallet.get(\"wallet_id\");"
                        },
                        {
                            "name": "Python",
                            "language": "python",
                            "code": "wallet_out = xwallet.wallet.get(\"wallet_id\")"
                        },
                        {
                            "name": "Python (Async)",
                            "language": "python",
                            "code": "wallet_out = await xwallet.wallet.get(\"wallet_id\")"
                        },
                        {
                            "name": "Go",
                            "language": "go",
                            "code": "walletOut, err := xwalletClient.Wallet.Get(ctx, \"wallet_id\")"
                        },
                        {
                            "name": "Kotlin",
                            "language": "kotlin",
                            "code": "val walletOut = xwallet.wallet.get(\"wallet_id\")"
                        },
                        {
                            "name": "Java",
                            "language": "java",
                            "code": "WalletOut walletOut = xwallet.getWallet().get(\"wallet_id\")"
                        },
                        {
                            "name": "Ruby",
                            "language": "ruby",
                            "code": "wallet_out = xwallet.wallet.get(\"wallet_id\")"
                        },
                        {
                            "name": "Rust",
                            "language": "rust",
                            "code": "let wallet_out = xwallet.wallet().get(\"wallet_id\").await?;"
                        },
                        {
                            "name": "C#",
                            "language": "csharp",
                            "code": "var walletOut = await xwallet.Wallet.GetAsync(\"wallet_id\")"
                        },
                        {
                            "name": "CLI",
                            "language": "Shell",
                            "code": "xwallet wallet get \"wallet_id\""
                        },
                        {
                            "label": "cURL",
                            "language": "shell",
                            "code": "curl -X 'GET' \\\n  'https://api.xwallet.com/api/v1/wallets/{wallet_id}' \\\n  -H 'X-API-KEY: AUTH_TOKEN' \\\n  -H 'X-Signature: SIGNATURE' \\\n  -H 'X-Timestamp: TIMESTAMP' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"
                        }
                    ]
                }      
            }
        },
        "/api/v1/wallets": {
            "post": {
                "description": "Create a new wallet.",
                "operationId": "v1.wallet.create",
                "parameters": [
                    {
                        "description": "Get an existing wallet, or create a new one if doesn't exist. It's two separate functions in the libs.",
                        "in": "query",
                        "name": "get_if_exists",
                        "schema": {
                            "default": false,
                            "description": "Get an existing wallet, or create a new one if doesn't exist. It's two separate functions in the libs.",
                            "type": "boolean"
                        },
                        "style": "form"
                    },
                    {
                        "description": "The request's idempotency key",
                        "in": "header",
                        "name": "idempotency-key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WalletIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletOut"
                                }
                            }
                        },
                        "description": ""
                    },
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletOut"
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        },
                        "description": "Validation Error"
                    },
                    "429": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        },
                        "description": "Too Many Requests"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": [],
                        "SignatureAuth": [],
                        "TimestampAuth": []
                    }
                ],
                "summary": "Create Wallet",
                "tags": [
                    "Wallet"
                ],
                "x-readme": {
                    "code-samples": [
                        {
                            "name": "JavaScript",
                            "language": "node",
                            "code": "const walletOut = await xwallet.wallet.create({\n    name: \"My first wallet\",\n    uid: \"unique-wallet-identifier\"\n});"
                        },
                        {
                            "name": "TypeScript",
                            "language": "node",
                            "code": "const walletOut = await xwallet.wallet.create({\n    name: \"My first wallet\",\n    uid: \"unique-wallet-identifier\"\n});"
                        },
                        {
                            "name": "Python",
                            "language": "python",
                            "code": "wallet_out = xwallet.wallet.create(WalletIn(\n    name=\"My first wallet\",\n    uid=\"unique-wallet-identifier\"\n), None)"
                        },
                        {
                            "name": "Python (Async)",
                            "language": "python",
                            "code": "wallet_out = await xwallet.wallet.create(WalletIn(\n    name=\"My first wallet\",\n    uid=\"unique-wallet-identifier\"\n), None)"
                        },
                        {
                            "name": "Go",
                            "language": "go",
                            "code": "walletOut, err := xwalletClient.Wallet.Create(ctx, &WalletIn{\n    Name: \"My first wallet\",\n    Uid: \"unique-wallet-identifier\",\n})"
                        },
                        {
                            "name": "Kotlin",
                            "language": "kotlin",
                            "code": "val walletOut = xwallet.wallet.create(WalletIn()\n    .name(\"My first wallet\")\n    .uid(\"unique-wallet-identifier\")\n)"
                        },
                        {
                            "name": "Java",
                            "language": "java",
                            "code": "WalletOut walletOut = xwallet.getWallet().create(new WalletIn()\n    .name(\"My first wallet\")\n    .uid(\"unique-wallet-identifier\")\n)"
                        },
                        {
                            "name": "Ruby",
                            "language": "Ruby",
                            "code": "wallet_out = xwallet.wallet.create(XWallet::WalletIn.new({\n    \"name\": \"My first wallet\",\n    \"uid\": \"unique-wallet-identifier\"\n}))"
                        },
                        {
                            "name": "Rust",
                            "language": "rust",
                            "code": "let wallet_out = xwallet.wallet().create(WalletIn {\n    name: \"My first wallet\".to_string(),\n    uid: Some(\"unique-wallet-identifier\".to_string()),\n}, None).await?;"
                        },
                        {
                            "name": "C#",
                            "language": "csharp",
                            "code": "var walletOut = await xwallet.Wallet.CreateAsync(new WalletIn{\n    name: \"My first wallet\",\n    uid: \"unique-wallet-identifier\"\n})"
                        },
                        {
                            "name": "CLI",
                            "language": "shell",
                            "code": "xwallet wallet create '{\n    \"name\": \"My first wallet\",\n    \"uid\": \"unique-wallet-identifier\"\n}'"
                        },
                        {
                            "name": "cURL",
                            "language": "shell",
                            "code": "curl -X 'POST' \\\n  'https://api.xwallet.io/api/v1/wallets' \\\n  -H 'X-API-KEY: AUTH_TOKEN' \\\n  -H 'X-Signature: SIGNATURE' \\\n  -H 'X-Timestamp: TIMESTAMP' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"name\": \"My first wallet\",\n        \"uid\": \"unique-wallet-identifier\"\n    }'"
                        }
                    ]
                }
            }
        }
    },
    "components": {
        "schemas": {
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "detail"
                ],
                "type": "object"
            },
            "HttpErrorOut": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "detail": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "detail"
                ],
                "title": "HttpError",
                "type": "object"
            },
            "ValidationError": {
                "description": "Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.",
                "properties": {
                    "loc": {
                        "description": "The location as a [`Vec`] of [`String`]s -- often in the form `[\"body\", \"field_name\"]`, `[\"query\", \"field_name\"]`, etc. They may, however, be arbitrarily deep.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "msg": {
                        "description": "The message accompanying the validation error item.",
                        "type": "string"
                    },
                    "type": {
                        "description": "The type of error, often \"type_error\" or \"value_error\", but sometimes with more context like as \"value_error.number.not_ge\"",
                        "type": "string"
                    }
                },
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "type": "object"
            },
            "WalletIn": {
                "properties": {
                    "metadata": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "default": {},
                        "type": "object"
                    },
                    "name": {
                        "example": "My first wallet",
                        "minLength": 1,
                        "type": "string"
                    },
                    "uid": {
                        "description": "Optional unique identifier for the wallet",
                        "example": "unique-wallet-identifier",
                        "maxLength": 256,
                        "minLength": 1,
                        "nullable": true,
                        "pattern": "^[a-zA-Z0-9\\-_.]+$",
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ],
                "type": "object"
            },
            "WalletOut": {
                "properties": {
                    "createdAt": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "id": {
                        "description": "The wallet's ID",
                        "example": "wallet_1srOrx2ZWZBpBUvZwXKQmoEYga2",
                        "type": "string"
                    },
                    "metadata": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "type": "object"
                    },
                    "name": {
                        "example": "My first wallet",
                        "type": "string"
                    },
                    "uid": {
                        "description": "The wallet's UID",
                        "example": "unique-wallet-identifier",
                        "maxLength": 256,
                        "minLength": 1,
                        "nullable": true,
                        "pattern": "^[a-zA-Z0-9\\-_.]+$",
                        "type": "string"
                    },
                    "updatedAt": {
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "required": [
                    "createdAt",
                    "id",
                    "metadata",
                    "name",
                    "updatedAt"
                ],
                "type": "object"
            }
        },
        "securitySchemes": {
            "ApiKeyAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-key"
            },
            "SignatureAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-signature"
            },
            "TimestampAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-timestamp"
            }
          }
    }
}
